
<section class="section--main introduction" data-ui-component="hero-header" hero-header-anims>
  <div class="container-fluid">
    <div class="row center-md  ">
      <div class="col-sm-12  col-md-11  col-lg-12">
        <div class="row  reverse-lg">

          <div class="col-sm-12 col-md-12 col-lg-5">

            <div class="introduction__image ">
              <div id="hero-header-anim">

              </div>
            </div>
          </div>

          <div class="col-md-12  col-lg-7">
            <div class="introduction__copy">

              <h1 class="headline introduction__headline">
                {{pageContent.heroHeaderHeadline.value}}
              </h1>
              <div class="introduction__par" [innerHTML]="pageContent.heroHeaderBody.value">

              </div>

              <div class="pogo-generates">
                <h2 class="pogo-generates__headline subline">
                  Pogo LT GENERATES:
                </h2>

                <ul class="pogo-generates__list">
                  <li class="pogo-generates__list__item">
                    <div class="pogo-generates__document">
                      <div class="pogo-generates__document-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" x="0" y="0" version="1.1"
                          viewBox="0 0 26.6 33.3" xml:space="preserve">
                          <title>An icon for a XLS spreadsheet document.</title>
                          <g stroke="#82342f" stroke-miterlimit="10" stroke-width="1.5">
                            <path fill="#fff"
                              d="M25.8 7.6v22.9c0 1.1-.9 2.1-2.1 2.1h-21c-1.1 0-2.1-.9-2.1-2.1V2.8C.6 1.7 1.5.7 2.7.7h17.6c.7 0 1.3.3 1.7.9l1.4 1.9 2 2.8c.1.1.1.2.2.4.2.3.2.6.2.9z" />
                            <path fill="none" d="M25.6 7.9h-4.2c-.6 0-1.2-.5-1.2-1.2v-6" />
                          </g>
                          <path
                            d="M5 18.1h1.1v1.1H5v-1.1zM6.9 18.7l1.5-2.1-1.4-2v-.5h1l1.2 1.7 1.1-1.7h.9v.5l-1.4 2 1.5 2.1v.5h-1L9 17.4l-1.2 1.8h-.9v-.5zM12.2 14.1h1.1v4.2h2.1v1h-3.2v-5.2zM16 18.3v-.5h.9c.1.4.5.6 1 .6s.8-.2.8-.6c0-.3-.2-.5-.8-.7h-.4c-.9-.2-1.5-.7-1.5-1.5 0-1 .7-1.6 1.9-1.6 1 0 1.6.4 1.8 1v.5h-.9c-.1-.4-.3-.6-.9-.6-.5 0-.7.2-.7.6 0 .3.2.5.7.6l.5.1c.9.2 1.5.7 1.5 1.6 0 1-.8 1.6-1.9 1.6-1.1 0-1.7-.5-2-1.1z"
                            style="fill:#82342f;" />
                        </svg>
                      </div>
                      <p>An easy-to-read spreadsheet</p>
                    </div>
                  </li>
                  <li class="pogo-generates__list__item">
                    <div class="pogo-generates__document">
                      <div class="pogo-generates__document-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" x="0" y="0" version="1.1"
                          viewBox="0 0 26.6 33.3" xml:space="preserve">
                          <title>An icon for a PDF document</title>
                          <g stroke="#82342f" stroke-miterlimit="10" stroke-width="1.5">
                            <path fill="#fff"
                              d="M25.8 7.6v22.9c0 1.1-.9 2.1-2.1 2.1h-21c-1.1 0-2.1-.9-2.1-2.1V2.8C.6 1.7 1.5.7 2.7.7h17.6c.7 0 1.3.3 1.7.9l1.4 1.9 2 2.8c.1.1.1.2.2.4.2.3.2.6.2.9z" />
                            <path fill="none" d="M25.6 7.9h-4.2c-.6 0-1.2-.5-1.2-1.2v-6" />
                          </g>
                          <path
                            d="M4.9 18.1H6v1.1H4.9v-1.1zM7.2 14.1h1.7c1.2 0 2 .7 2 1.7 0 .9-.7 1.8-2 1.8h-.6v1.7H7.2v-5.2zm1.6 2.5c.5 0 .9-.3.9-.8 0-.4-.3-.8-.9-.8h-.5v1.6h.5zM11.8 14.1h1.8c1.6 0 2.6 1.2 2.6 2.6s-1 2.6-2.6 2.6h-1.8v-5.2zm1.8 4.2c.9 0 1.4-.7 1.4-1.6 0-.9-.5-1.6-1.4-1.6h-.7v3.2h.7zM17.2 14.1h3.2v1h-2v1.2h1.8v.8h-1.8v2.1h-1.1v-5.1h-.1z"
                            style="fill:#82342f;" />
                        </svg>
                      </div>
                      <p>A PDF report</p>
                    </div>
                  </li>
                  <li class="pogo-generates__list__item">
                    <div class="pogo-generates__document">
                      <div class="pogo-generates__document-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" x="0" y="0" version="1.1"
                          viewBox="0 0 26.6 33.3" xml:space="preserve">
                          <title>An icon for a data file.</title>
                          <g stroke="#82342f" stroke-miterlimit="10" stroke-width="1.5">
                            <path fill="#fff"
                              d="M25.8 7.6v22.9c0 1.1-.9 2.1-2.1 2.1h-21c-1.1 0-2.1-.9-2.1-2.1V2.8C.6 1.7 1.5.7 2.7.7h17.6c.7 0 1.3.3 1.7.9l1.4 1.9 2 2.8c.1.1.1.2.2.4.2.3.2.6.2.9z" />
                            <path fill="none" d="M25.6 7.9h-4.2c-.6 0-1.2-.5-1.2-1.2v-6" />
                          </g>
                          <path
                            d="M20.1 20.9c0 1.2-2.9 2.3-6.6 2.3s-6.6-1-6.6-2.3v-2.1c0-1.2 2.9-2.3 6.6-2.3s6.6 1 6.6 2.3v2.1z"
                            style="fill:#fff;" />
                          <path d="M20.1 20.9c0 1.2-2.9 2.3-6.6 2.3s-6.6-1-6.6-2.3" style="fill:#fff;" />
                          <path
                            d="M13.5 16.2c-3.4 0-7 .9-7 2.6v2.1c0 1.7 3.6 2.6 7 2.6s7-.9 7-2.6v-2.1c0-1.7-3.6-2.6-7-2.6zm0 6.6c-3.8 0-6.2-1.1-6.2-1.9v-2.1c0-.8 2.4-1.9 6.2-1.9 3.9 0 6.3 1.1 6.2 1.9v2.1c0 .8-2.4 1.9-6.2 1.9z"
                            style="fill:#82342f;" />
                          <ellipse cx="13.5" cy="18.8" style="fill:#fff;" rx="6.6" ry="2.3" />
                          <path
                            d="M13.5 21.4c-3.4 0-7-.9-7-2.6s3.6-2.6 7-2.6 7 .9 7 2.6-3.6 2.6-7 2.6zm0-4.5c-3.8 0-6.2 1.1-6.2 1.9s2.4 1.9 6.2 1.9 6.2-1.1 6.2-1.9c.1-.8-2.3-1.9-6.2-1.9z"
                            style="fill:#82342f;" />
                          <g>
                            <path
                              d="M20.1 18.9c0 1.2-2.9 2.3-6.6 2.3s-6.6-1-6.6-2.3v-2.1c0-1.2 2.9-2.3 6.6-2.3s6.6 1 6.6 2.3v2.1z"
                              style="fill:#fff;" />
                            <path
                              d="M13.5 21.5c-3.4 0-7-.9-7-2.6v-2.1c0-1.7 3.6-2.6 7-2.6s7 .9 7 2.6v2.1c0 1.7-3.6 2.6-7 2.6zm0-6.6c-3.8 0-6.2 1.1-6.2 1.9v2.1c0 .8 2.4 1.9 6.2 1.9s6.2-1.1 6.2-1.9v-2.1c.1-.8-2.3-1.9-6.2-1.9z"
                              style="fill:#82342f;" />
                            <g>
                              <path
                                d="M13.5 21.5c-3.4 0-7-.9-7-2.6h.8c0 .8 2.4 1.9 6.2 1.9s6.2-1.1 6.2-1.9h.8c0 1.7-3.6 2.6-7 2.6z"
                                style="fill:#82342f;" />
                              <ellipse cx="13.5" cy="16.8" style="fill:#fff;" rx="6.6" ry="2.3" />
                              <path
                                d="M13.5 19.4c-3.4 0-7-.9-7-2.6s3.6-2.6 7-2.6 7 .9 7 2.6-3.6 2.6-7 2.6zm0-4.5c-3.8 0-6.2 1.1-6.2 1.9s2.4 1.9 6.2 1.9 6.2-1.1 6.2-1.9-2.3-1.9-6.2-1.9z"
                                style="fill:#82342f;" />
                            </g>
                          </g>
                          <g>
                            <path
                              d="M20.1 16.6c0 1.2-2.9 2.3-6.6 2.3s-6.6-1-6.6-2.3v-2.1c0-1.2 2.9-2.3 6.6-2.3s6.6 1 6.6 2.3v2.1z"
                              style="fill:#fff;" />
                            <path
                              d="M13.5 19.2c-3.4 0-7-.9-7-2.6v-2.1c0-1.7 3.6-2.6 7-2.6s7 .9 7 2.6v2.1c0 1.7-3.6 2.6-7 2.6zm0-6.6c-3.8 0-6.2 1.1-6.2 1.9v2.1c0 .8 2.4 1.9 6.2 1.9s6.2-1.1 6.2-1.9v-2.1c.1-.8-2.3-1.9-6.2-1.9z"
                              style="fill:#82342f;" />
                          </g>
                          <g>
                            <path
                              d="M13.5 19.3c-3.4 0-7-.9-7-2.6h.8c0 .8 2.4 1.9 6.2 1.9s6.2-1.1 6.2-1.9h.8c0 1.7-3.6 2.6-7 2.6z"
                              style="fill:#82342f;" />
                            <ellipse cx="13.5" cy="14.5" style="fill:#fff;" rx="6.6" ry="2.3" />
                            <path
                              d="M13.5 17.1c-3.4 0-7-.9-7-2.6s3.6-2.6 7-2.6 7 .9 7 2.6-3.6 2.6-7 2.6zm0-4.5c-3.8 0-6.2 1.1-6.2 1.9 0 .8 2.4 1.9 6.2 1.9s6.2-1.1 6.2-1.9c.1-.8-2.3-1.9-6.2-1.9z"
                              style="fill:#82342f;" />
                          </g>
                        </svg>
                      </div>
                      <p>An optional raw data file</p>
                    </div>
                  </li>


                </ul>
              </div>

              <a href="/download-pogo-lt" rel="internal"
                class="button  button--primary  button--medium introduction__button" title="Download Pogo LT">
                <span>Download Pogo LT</span>
              </a>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<span *ngIf="aboveFoldLoaded">
  <div class="explaining-sections" home-explaining-anims>
    <section class="explaining-section  easy-reports" data-ui-component="varo-breeze-scene">
      <div class="container-fluid">
        <div class="row  center-md">
          <div class="col-sm-12  col-md-11  ">
            <div class="row  middle-md  ">
              <div class="col-sm-12 col-md-6">
                <div class="explaining-section__graphic-container ">
                  <div class="hide-for-medium-up   easy-reports__graphic  explaining-section__graphic">
                    <img data-src="https://assets-us-01.kc-usercontent.com/93915114-40e4-00f7-8be7-c49e3a2a4b88/fb37fd7a-803d-490f-833d-91452372ed0a/image-1-small.svg" alt="Stash of Varo reports inside of a folder being converted to a Pogo LT report." class="lazyload">
                  </div>
                  <div class="show-for-medium-up   easy-reports__graphic  explaining-section__graphic">
                    <div id="varo-breeze">

                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="explaining-section__copy">
                  <h1 class="explaining-section__headline  headline">
                    {{pageContent.introSection1Headline.value}}
                  </h1>
                  <div [innerHTML]="pageContent.introSection1Body.value">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="explaining-section  visible-section" data-ui-component="visible-cold-chain-scene">
      <div class="container-fluid">
        <div class="row  center-md">
          <div class="col-sm-12  col-md-11  ">
            <div class="row  middle-md reverse-md">
              <div class="col-sm-12 col-md-6">
                <div class="explaining-section__graphic-container">
                  <div class="hide-for-medium-up   visible-section__graphic  explaining-section__graphic">
                    <img data-src="https://assets-us-01.kc-usercontent.com/93915114-40e4-00f7-8be7-c49e3a2a4b88/5de4280b-f360-4e8f-96ea-b421c5c01c10/image2-small.svg" alt="Illustration of cold-chain fridges being analyzed by Pogo LT. One fridge is identified as broken." class="lazyload">
                  </div>
                  <div class="show-for-medium-up   visible-section__graphic  explaining-section__graphic">
                    <div id="visible-cold-chain">

                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="explaining-section__copy">
                  <h1 class="explaining-section__headline  headline">
                    {{pageContent.introSection2Headline.value}}
                  </h1>
                  <div [innerHTML]="pageContent.introSection2Body.value">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>



    <section class="explaining-section performance-section" data-ui-component="performance-records-scene">
      <div class="container-fluid">
        <div class="row  center-md">
          <div class="col-sm-12  col-md-11  ">
            <div class="row middle-md">
              <div class="col-sm-12 col-md-6">
                <div class="explaining-section__graphic-container">
                  <div class="hide-for-medium-up   performance-section__graphic  explaining-section__graphic">
                    <img data-src="https://assets-us-01.kc-usercontent.com/93915114-40e4-00f7-8be7-c49e3a2a4b88/e60b445b-63a0-46ea-9e5d-666c1b6987df/image3-small.svg" alt="Illustration of desktop monitor with a calendar showing the dates the Pogo LT report will capture." class="lazyload">
                  </div>
                  <div class="show-for-medium-up   performance-section__graphic  explaining-section__graphic">
                    <div id="performance-records">

                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="explaining-section__copy">
                  <h1 class="explaining-section__headline  headline">
                    {{pageContent.introSection3Headline.value}}
                  </h1>
                  <div [innerHTML]="pageContent.introSection3Body.value">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="explaining-section  private-data" data-ui-component="privacy-free">
      <div class="container-fluid">
        <div class="row  center-md">
          <div class="col-sm-12  col-md-11  ">
            <div class="row  middle-md reverse-md">
              <div class="col-sm-12 col-md-6">
                <div class="explaining-section__graphic-container">
                  <div class="hide-for-medium-up  explaining-section__graphic">
                    <img data-src="https://assets-us-01.kc-usercontent.com/93915114-40e4-00f7-8be7-c49e3a2a4b88/982c478d-3a2a-4fe6-921e-801a6f6bb831/image4-small.svg" alt="Illustration of a lock representing privacy of reports sent through Pogo LT." class="lazyload">
                  </div>
                  <div class="show-for-medium-up  explaining-section__graphic">
                    <div id="privacy-free">

                    </div>  
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="explaining-section__copy">
                  <h1 class="explaining-section__headline  headline">
                    {{pageContent.introSection4Headline.value}}
                  </h1>
                  <div [innerHTML]="pageContent.introSection4Body.value">

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>


  <section before-pogo-anims>
    <div class="container-fluid">
      <div class="before-using-pogo">
        <div class="row  center-md">
          <div class="col-sm-12 col-lg-12">
            <div class="row" data-ui-component="needs">
              <div class="col-sm-12  col-md-6">
                <div class="before-using-pogo__copy" data-ui-component="needs-copy">

                  <div class="before-using-pogo__header">
                    <h1 class="before-using-pogo__header__headline  headline">
                      To begin using <br class="show-for-large-up"> POGO LT, you’ll need:
                    </h1>
                  </div>

                  <ul class="before-using-pogo__needs">
                    <div class="before-using-pogo__needs__timeline">
                      <div data-ui-component="timeline">

                      </div>
                    </div>
                    <li class="before-using-pogo__need" data-ui-component="need" data-id="loggers">
                      <div class="before-using-pogo__need__image  hide-for-medium-up">
                        <picture>
                          <source data-srcset="https://assets-us-01.kc-usercontent.com/93915114-40e4-00f7-8be7-c49e3a2a4b88/aace972d-6d0a-4957-bb05-e71e7f3e627d/before-pogo-image-1.svg"
                            media="(min-width: 0) and  (max-width: 767px)">
                          <img data-src="" alt="Graphic of phone running the VARO app connected to a fridge logger. "
                            class="lazyload">
                        </picture>
                      </div>
                      <div class="before-using-pogo__need__description">
                        <div tabindex="0" class="before-using-pogo__need__counter" data-ui-component="counter-button"
                          data-id="phone-logger-anim">

                        </div>
                        <div>
                          <p>
                            Fridge loggers using the VARO app to generate email reports.
                          </p>
                        </div>
                      </div>
                    </li>

                    <li class="before-using-pogo__need" data-ui-component="need" data-id="email">
                      <div class="before-using-pogo__need__image  hide-for-medium-up">
                        <picture>
                          <source data-srcset="https://assets-us-01.kc-usercontent.com/93915114-40e4-00f7-8be7-c49e3a2a4b88/828d5d9e-c65d-43d7-8bc5-53f4f017eade/before-pogo-image-2.svg"
                            media="(min-width: 0) and  (max-width: 767px)">
                          <img data-src="" alt="Graphic Gmail logo and an email login screen." class="lazyload">
                        </picture>
                      </div>
                      <div class="before-using-pogo__need__description">
                        <div tabindex="0" class="before-using-pogo__need__counter" data-ui-component="counter-button"
                          data-id="email-anim">

                        </div>
                        <div>
                          <p>
                            A valid Gmail account for aggregating reports from.
                          </p>
                          <div class="gmail-disclaimer">
                            <div class="gmail-disclaimer__logo">
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
                                <title>
                                  GMAIL Logo
                                </title>
                                <path fill="#e0e0e0"
                                  d="M5.5 40.5h37A3.5 3.5 0 0046 37V11a3.5 3.5 0 00-3.5-3.5h-37A3.5 3.5 0 002 11v26a3.5 3.5 0 003.5 3.5z" />
                                <path fill="#d9d9d9"
                                  d="M26 40.5h16.5A3.5 3.5 0 0046 37V11a3.5 3.5 0 00-3.5-3.5h-37A3.5 3.5 0 002 11l24 29.5z" />
                                <path fill="#eee" d="M6.745 40.5H42.5A3.5 3.5 0 0046 37V11.5l-39.255 29z" />
                                <path fill="#e0e0e0"
                                  d="M25.745 40.5H42.5A3.5 3.5 0 0046 37V11.5L18.771 31.616l6.974 8.884z" />
                                <path fill="#ca3737"
                                  d="M42.5 9.5h-37C3.567 9.5 2 9.067 2 11v26a3.5 3.5 0 003.5 3.5H7V12h34v28.5h1.5A3.5 3.5 0 0046 37V11c0-1.933-1.567-1.5-3.5-1.5z" />
                                <path fill="#f5f5f5"
                                  d="M42.5 7.5h-37A3.48 3.48 0 002 11c0 1.206 1.518 2.258 1.518 2.258L24 27.756l20.482-14.497S46 12.206 46 11.001A3.48 3.48 0 0042.5 7.5z" />
                                <path fill="#e84f4b"
                                  d="M43.246 7.582L24 21 4.754 7.582A3.474 3.474 0 002 11c0 1.206 1.518 2.258 1.518 2.258L24 27.756l20.482-14.497S46 12.206 46 11.001a3.474 3.474 0 00-2.754-3.419z" />
                              </svg>
                            </div>
                            <div class="gmail-disclaimer__copy">
                              <p>
                                Not using GMAIL? <br> Read about our <a href="/pogo-lt-support" rel="internal"
                                  title="Support Page">workaround</a>.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>

                    <li class="before-using-pogo__need" data-ui-component="need" data-id="windows">

                      <div class="before-using-pogo__need__image  hide-for-medium-up">
                        <picture>
                          <source data-srcset="https://assets-us-01.kc-usercontent.com/93915114-40e4-00f7-8be7-c49e3a2a4b88/0a28ca89-57a7-41ac-8be0-c2bcd2f8cabf/before-pogo-image-3.svg"
                            media="(min-width: 0) and  (max-width: 767px)">
                          <img data-src="" alt="Graphic Windows laptop with the POGO LT Logo on it." class="lazyload">
                        </picture>
                      </div>
                      <div class="before-using-pogo__need__description">
                        <div tabindex="0" class="before-using-pogo__need__counter" data-ui-component="counter-button"
                          data-id="laptop-anim">

                        </div>
                        <div>
                          <p>
                            A Windows 7 or 10 computer with
                            Pogo LT installed.
                          </p>
                          <div class="windows-disclaimer">
                            <div class="windows-disclaimer__copy">
                              <p>
                                Win 7 requires latest .NET Framework, <br> <a
                                  href="https://assets-us-01.kc-usercontent.com/93915114-40e4-00f7-8be7-c49e3a2a4b88/da4f758a-1c7e-48aa-8d97-1fc7229f8704/NDP452-KB2901907-x86-x64-AllOS-ENU.exe"
                                  rel="file">download install here</a>.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col-sm-12  col-md-6 show-for-medium-up">
                <div class="before-using-pogo__images" data-ui-component="need-images">
                  <div id="phone-logger-anim" class="before-using-pogo__images__phone-logger-anim">

                  </div>
                  <div class="before-using-pogo__images__varo-report-anim">



                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0" y="0"
                      viewBox="0 0 297 319.1" xml:space="preserve" role="presentation">
                      <style>
                        .st0 {
                          fill: none;
                          stroke: #ccc;
                          stroke-width: 4.3235;
                          stroke-linecap: round;
                          stroke-linejoin: round
                        }

                        .st2 {
                          fill: #fff;
                          stroke: #09638a;
                          stroke-width: 3;
                          stroke-miterlimit: 10
                        }

                      </style>

                      <g data-ui-component="varo-doc-travel-line">
                        <path class="st0" d="M147.6 74.2" />
                        <path fill="none" stroke="#ccc" stroke-width="4.3235" stroke-linecap="round"
                          stroke-linejoin="round" stroke-dasharray=".1025,18.4517" d="M147.6 92.7v119.2" />
                        <path class="st0" d="M147.6 221.1" />
                      </g>

                      <g data-ui-component="varo-doc">
                        <g>
                          <path class="st2"
                            d="M170.8 28.3v43.4c0 2-1.6 3.8-3.8 3.8h-37.5c-2 0-3.8-1.6-3.8-3.8v-52c0-2 1.6-3.8 3.8-3.8H161c1.3 0 2.3.5 3 1.6l2.5 3.4 3.6 5c.2.2.2.4.4.7.3.6.3 1.1.3 1.7z" />
                          <path class="st2" d="M170.4 28.8h-7.5c-1.1 0-2.1-.9-2.1-2.1V15.9" />
                          <path
                            d="M147.2 32.9c8.3.2 14.2 6.1 14.4 14.4 0 .2-.2.4-.4.4h-2.8c-.2 0-.3-.2-.3-.3-.2-5.9-5-10.7-10.9-10.9-.2 0-.3-.2-.3-.3v-2.8c0-.3.1-.5.3-.5z"
                            fill="#00abe8" />
                          <path
                            d="M147.1 43.6c-.1 0-.2.1-.2.2v3.6c0 .1.1.3.3.3h3.5c.1 0 .2-.1.2-.2-.1-2.1-1.7-3.8-3.8-3.9z"
                            fill="#28aae1" />
                          <path
                            d="M147.4 37.9c5.2 0 9.4 4.3 9.4 9.3 0 5.1-4.2 9.3-9.4 9.3s-9.4-4.3-9.4-9.3c0-5.1 4.2-9.3 9.4-9.3zm0 13.8c2.4 0 4.4-2 4.4-4.6 0-2.5-2-4.5-4.4-4.5-2.5 0-4.4 2-4.4 4.5 0 2.6 1.9 4.6 4.4 4.6z"
                            fill="#09638a" />
                        </g>
                      </g>

                    </svg>

                  </div>
                  <div id="email-anim" class="before-using-pogo__images__email-anim">

                  </div>
                  <div class="before-using-pogo__images__varo-reports-anim">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0" y="0"
                      viewBox="0 0 297 326.1" xml:space="preserve" role="presentation">

                      <g data-ui-component="varo-docs-travel-line">
                        <path
                          style="fill:none;stroke:#ccc;stroke-width:4.3235;stroke-linecap:round;stroke-linejoin:round"
                          d="M147.6 74.2" />
                        <path fill="none" stroke="#ccc" stroke-width="4.3235" stroke-linecap="round"
                          stroke-linejoin="round" stroke-dasharray=".1025,18.4517" d="M147.6 92.7v119.2" />
                      </g>

                      <g data-ui-component="varo-docs">
                        <path
                          style="fill:none;stroke:#CCCCCC;stroke-width:4.3235;stroke-linecap:round;stroke-linejoin:round;"
                          d="M147.6 221.1" />
                        <path style="fill:#FFFFFF;stroke:#09638A;stroke-width:3;stroke-miterlimit:10;"
                          d="M159.7 23.1v43.4c0 2-1.6 3.8-3.8 3.8h-37.5c-2 0-3.8-1.6-3.8-3.8v-52c0-2 1.6-3.8 3.8-3.8h31.5c1.3 0 2.3.5 3 1.6l2.5 3.4 3.6 5c.2.2.2.4.4.7.3.6.3 1.1.3 1.7z" />
                        <path class="st2" d="M159.3 23.6h-7.5c-1.1 0-2.1-.9-2.1-2.1V10.7" />
                        <g>
                          <path style="fill: #00abe8"
                            d="M136.1 27.7c8.3.2 14.2 6.1 14.4 14.4 0 .2-.2.4-.4.4h-2.8c-.2 0-.3-.2-.3-.3-.2-5.9-5-10.7-10.9-10.9-.2 0-.3-.2-.3-.3v-2.8c0-.3.1-.5.3-.5z" />
                          <path style="fill: #28aae1;"
                            d="M136 38.4c-.1 0-.2.1-.2.2v3.6c0 .1.1.3.3.3h3.5c.1 0 .2-.1.2-.2-.1-2.1-1.7-3.8-3.8-3.9z" />
                          <path style="fill: #09638a;"
                            d="M136.3 32.7c5.2 0 9.4 4.3 9.4 9.3 0 5.1-4.2 9.3-9.4 9.3s-9.4-4.3-9.4-9.3c0-5.1 4.2-9.3 9.4-9.3zm0 13.8c2.4 0 4.4-2 4.4-4.6 0-2.5-2-4.5-4.4-4.5-2.5 0-4.4 2-4.4 4.5 0 2.6 1.9 4.6 4.4 4.6z" />
                        </g>
                        <g>
                          <path class="st2"
                            d="M173.6 29.3v43.4c0 2-1.6 3.8-3.8 3.8h-37.5c-2 0-3.8-1.6-3.8-3.8v-52c0-2 1.6-3.8 3.8-3.8h31.5c1.3 0 2.3.5 3 1.6l2.5 3.4 3.6 5c.2.2.2.4.4.7.3.6.3 1.2.3 1.7z" />
                          <path style="fill:#FFFFFF;stroke:#09638A;stroke-width:3;stroke-miterlimit:10;"
                            d="M173.2 29.9h-7.5c-1.1 0-2.1-.9-2.1-2.1V17" />
                          <g>
                            <path style="fill: #00abe8"
                              d="M150 34c8.3.2 14.2 6.1 14.4 14.4 0 .2-.2.4-.4.4h-2.8c-.2 0-.3-.2-.3-.3-.2-5.9-5-10.7-10.9-10.9-.2 0-.3-.2-.3-.3v-2.8c0-.4.1-.5.3-.5z" />
                            <path style="fill: #28aae1;"
                              d="M149.9 44.7c-.1 0-.2.1-.2.2v3.6c0 .1.1.3.3.3h3.5c.1 0 .2-.1.2-.2-.1-2.2-1.7-3.8-3.8-3.9z" />
                            <path style="fill: #09638a;"
                              d="M150.2 38.9c5.2 0 9.4 4.3 9.4 9.3 0 5.1-4.2 9.3-9.4 9.3s-9.4-4.3-9.4-9.3 4.2-9.3 9.4-9.3zm0 13.8c2.4 0 4.4-2 4.4-4.6 0-2.5-2-4.5-4.4-4.5-2.5 0-4.4 2-4.4 4.5 0 2.6 1.9 4.6 4.4 4.6z" />
                          </g>
                        </g>
                        <g>
                          <path style="fill:#FFFFFF;stroke:#09638A;stroke-width:3;stroke-miterlimit:10;"
                            d="M188.8 35.9v43.4c0 2-1.6 3.8-3.8 3.8h-37.5c-2 0-3.8-1.6-3.8-3.8v-52c0-2 1.6-3.8 3.8-3.8H179c1.3 0 2.3.5 3 1.6l2.5 3.4 3.6 5c.2.2.2.4.4.7.3.6.3 1.1.3 1.7z" />
                          <path style="fill:#FFFFFF;stroke:#09638A;stroke-width:3;stroke-miterlimit:10;"
                            d="M188.5 36.4H181c-1.1 0-2.1-.9-2.1-2.1V23.5" />
                          <g>
                            <path style="fill: #00abe8"
                              d="M165.3 40.5c8.3.2 14.2 6.1 14.4 14.4 0 .2-.2.4-.4.4h-2.8c-.2 0-.3-.2-.3-.3-.2-5.9-5-10.7-10.9-10.9-.2 0-.3-.2-.3-.3V41c-.1-.3.1-.5.3-.5z" />
                            <path style="fill: #28aae1;"
                              d="M165.2 51.2c-.1 0-.2.1-.2.2V55c0 .1.1.3.3.3h3.5c.1 0 .2-.1.2-.2-.1-2.1-1.8-3.8-3.8-3.9z" />
                            <path style="fill: #09638a;"
                              d="M165.5 45.5c5.2 0 9.4 4.3 9.4 9.3 0 5.1-4.2 9.3-9.4 9.3s-9.4-4.3-9.4-9.3c-.1-5.1 4.1-9.3 9.4-9.3zm0 13.8c2.4 0 4.4-2 4.4-4.6 0-2.5-2-4.5-4.4-4.5-2.5 0-4.4 2-4.4 4.5-.1 2.6 1.9 4.6 4.4 4.6z" />
                          </g>
                        </g>
                      </g>
                    </svg>

                  </div>
                  <div id="laptop-anim" class="before-using-pogo__images__laptop-anim">

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section using-pogo-anims >
    <div class="container-fluid no-padding-sm">
      <div class="using-pogo">
        <div class="row  center-md">
          <div class="col-sm-12 col-lg-12">
            <div class="row middle-md" data-ui-component="using-pogo">
              <div class="col-sm-12  col-lg-6">
                <div class="using-pogo__copy">
                  <div class="using-pogo__header">
                    <h1 class="headline using-pogo__headline">
                      Using Pogo LT
                    </h1>
                  </div>

                  <div class="using-pogo__steps" data-ui-component="using-pogo-steps">

                    <div class="using-pogo__steps__timeline show-for-large-up">
                      <div data-ui-component="using-pogo-timeline">
                      </div>
                    </div>

                    <div class="using-pogo__steps__step" data-ui-component="using-pogo-step"
                      attr.data-step="{{step.id.value}}" *ngFor="let step of pageContent.usingPogo.value; index as i; ">

                      <div class="using-pogo__steps__step__image">

                        <picture>
                          <source type="image/webp" data-sizes="auto" [attr.data-srcset]="step.image.value[0].url + '?fm=webp&w=960'"
                            media="(min-width: 768px) and (max-width: 960px)">
                          <source type="image/jpeg" data-sizes="auto" [attr.data-srcset]="step.image.value[0].url + '?fm=webp&w=900'"
                            media="(min-width: 768px) and  (max-width: 960px)">
                          <source type="image/webp" data-sizes="auto" [attr.data-srcset]="step.image.value[0].url + '?fm=webp&w=800'"
                            media="(min-width: 1px) and (max-width: 767px)">
                          <img data-sizes="auto" [attr.data-src]="step.image.value[0].url + '?fm=webp&w=800'"
                            alt="{{step.image.value[0].description}}" class="lazyload" >
                        </picture>
                      </div>

                      <div tabindex="0" class="using-pogo__steps__step__counter" data-id="{{index}}"
                        data-ui-component='counter-buttons-using-pogo'>

                      </div>
                      <div [innerHTML]="step.description.value">

                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-lg-6  show-for-large-up">
                <div class="using-pogo__steps-images" attr.data-ui-component="steps-images">
                  <div class="using-pogo__steps-images__image" attr.data-step-image="{{step.id.value}}"
                    attr.data-ui-component="{{step.id.value}}-step-image"
                    *ngFor="let step of pageContent.usingPogo.value; index as i;">
                    <picture>
                      <source type="image/webp" [attr.data-srcset]="step.image.value[0].url + '?fm=webp&w=720'"
                        media="(min-width: 961px)">
                      <source type="image/jpg" [attr.data-srcset]="step.image.value[0].url + '?w=720'"
                        media="(min-width: 961px)">
                      <img [attr.data-src]="step.image.value[0].url + '?w=400&auto=format'"
                        alt="{{step.image.value[0].description}}" class="lazyload">
                    </picture>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="closing-statement">
    <div class="closing-statement__inner">
      <div class="container-fluid">
        <div class="row center-lg center-md ">
          <div class="col-sm-12 col-md-11 col-lg-12">
            <div class="row">
              <div class="col-sm-12 col-md-11 col-lg-7">
                <div class="closing-statement__copy">
                  <h1 class="headline  closing-statement__headline">
                    {{pageContent.closingStatementHeadline.value}}
                  </h1>
                  <div class="closing-statement__body" [innerHTML]="pageContent.closingStatementBody.value">
                  </div>

                  <a href="/download-pogo-lt" rel="internal" title="Download Pogo LT"
                    class="button  button--primary  button--medium closing-statement__cta">
                    <span>Download Pogo LT</span>
                  </a>
                </div>

              </div>
              <div class="col-sm-12 col-lg-5 show-for-large-up">
                <div class="closing-statement__graph-image">
                  <img data-src="https://assets-us-01.kc-usercontent.com/93915114-40e4-00f7-8be7-c49e3a2a4b88/bf409e9d-009a-41ea-bdbb-1e3245e623c1/closing-statement-graph.svg" alt="Stylized graphic of a Pogo LT Summary"
                    class="lazyload">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

</span>
